{% extends 'base.html.twig' %}

{% block title %}Rendez-vous{% endblock %}

{% block body %}
    <h1>Rendez-vous</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ rdv.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ rdv.date ? rdv.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Confirmation</th>
            <td>{{ rdv.confirmation ? 'Yes' : 'No' }}</td>
        </tr>

        <tr>
            <th>Motif</th>
            <td>{{ rdv.motif }}</td>
        </tr>
        <tr>
            <th>Doctor</th>
            <td>{{ rdv.refDoc.id }}</td>
        </tr>
        <tr>
            <th>Patient</th>
            <td>{{ rdv.refPatient.id }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('rdv_index') }}">back to list</a>

    <a href="{{ path('rdv_edit', {'id': rdv.id}) }}">edit</a>

    {{ include('rdv/_delete_form.html.twig') }}
{% endblock %}
